body {
    display: flex;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 25px;
}

li {
    cursor: pointer;
}

.container-one {
    display: flex;
    height: 500px;
    flex-direction: column;
    background-color: #3D0C11;
    padding: 24px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    width: 70%;
    max-width: 1450px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    flex: 0 0 auto;
}

.container-one .title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 70%;
    margin: 0 auto;
}

.main .subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 200px;
    width: 500px;
}

.sign-up {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #D80032;
    background-color: #D80032;
    color: #E5E7EB;
    width: 98px;
}

.container-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 475px;
    padding: 24px 0px;
}

.container-two .title {
   font-size: 36px;
   font-weight: 800;
   columns: #3D0C11; 
   padding: 60px;
}

.card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 70%;
    gap: 60px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.card {
    display: flex;
    border: 4px solid #ba002b;
    border-radius: 16px;
    width: 145px;
    height: 145px;
}

.info .subtext {
    margin-top: 8px;
    text-align: center;
    color: rgb(45, 45, 45);
}

.container-three {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 475px;
    background-color: #E5E7EB;
}

.quote-info {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    gap: 12px;
    width: 750px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #27080b;
}

.thor {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
    color: #3D0C11;
}

.container-four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D80032;
    border-radius: 8px;
    width: 50%;
    max-width: 800px;
    height: 40%;
    padding: 0px 100px;
}

.container-four .title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.container-four .subtext {
    color: #F9FAF8;
}

.container-four .sign-up {
    border: 2px solid #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D0C11;
    color: #E5E7EB;
    padding: 40px;
}